<h1>Books</h1>

<% @books.each do |book| %>

  <p>title</p>
  <p>body</p>
  <span><%= book.title %></span>

  <%= link_to "show" , "/books/show" %>
  <%= link_to "edit" , "/books/edit" %>
  <%= link_to "destoroy" , method: :delete  %>
    <% end %>