<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
<p> title: <%= list.title %> </p>

<!--%= link_to "Edit" , book_path %>edit作ってから追加-->
|
<!--backの追加-->
<%= link_to "Back" , book_path %>